<div class="production-line-calendar-day {{if this.isSelected 'active-day'}}">
	<div class='header'>
		{{moment-format @day "dddd[,] MMM DD"}}
		{{#if isSelected}}
			<ProductionLines::CalendarView::UnitsOnHold />
		{{/if}}
	</div>
	<div class="body">
		{{#each units as |unit|}}
		<ProductionLines::CalendarView::Unit
		  @index={{unit}}
			@showStations={{@showStations}}
			@status={{statusMock}}
		/>
		{{/each}}
		{{#if (gte @day today)}}
		<ProductionLines::CalendarView::Buffer />
		<ProductionLines::CalendarView::Buffer />
		{{/if}}
	</div>
</div>
